<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <appSettings>
    <!-- Mock, Sql, Pgsql -->
    <add key="Repository.Strategy" value="Mock" />
  </appSettings>
  <connectionStrings>
    <add name="ro" connectionString="Server=127.0.0.1;Database=sample;User Id=sample-ro;Password=sample-ro" />
    <add name="rw" connectionString="Server=127.0.0.1;Database=sample;User Id=sample-rw;Password=sample-rw" />
  </connectionStrings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <namespace name="Repository.Infrastructure" />
    <namespace name="Repository.Infrastructure.Data" />
    <namespace name="Repository.Interface" />
    <assembly name="Repository" />
    <alias alias="singleton" type="ContainerControlledLifetimeManager" />
    <alias alias="hierarchical" type="HierarchicalLifetimeManager" />
    <container name="Mock">
      <register type="IUnitOfWorkProvider" mapTo="Repository.Mock.UnitOfWorkProvider, Repository"/>
      <register type="IMembershipRepository" mapTo="Repository.Mock.MembershipRepository, Repository">
        <lifetime type="hierarchical" />
      </register>
    </container>
    <container name="Sql">
      <register type="IDbConnectionFactory" mapTo="Repository.Sql.Infrastructure.SqlConnectionFactory, Repository">
        <lifetime type="singleton" />
      </register>
      <register type="IUnitOfWorkProvider" mapTo="UnitOfWorkProvider"/>
      <register type="IMembershipRepository" mapTo="Repository.Sql.MembershipRepository, Repository">
        <lifetime type="hierarchical" />
      </register>
    </container>
    <container name="Pgsql">
      <register type="IDbConnectionFactory" mapTo="Repository.Pgsql.Infrastructure.PgsqlConnectionFactory, Repository">
        <lifetime type="singleton" />
      </register>
      <register type="IUnitOfWorkProvider" mapTo="UnitOfWorkProvider" />
      <register type="IMembershipRepository" mapTo="Repository.Pgsql.MembershipRepository,Repository">
        <lifetime type="hierarchical" />
      </register>
    </container>
  </unity>
</configuration>