<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="rw"
        connectionString="Data Source=(LOCAL);Initial Catalog=sample;Persist Security Info=False;User ID=sample-rw;Password=sample-rw"
        providerName="System.Data.SqlClient" />
    <add name="ro"
        connectionString="Data Source=(LOCAL);Initial Catalog=sample;Persist Security Info=False;User ID=sample-ro;Password=sample-ro"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>